dekstop = 'screen and (min-width: 1200px)'
laptop = 'screen and (min-width: 992px)'
tablet = 'screen and (min-width: 768px)'
phone = 'screen and (min-width: 600px)'
mobile = 'screen and (min-width: 360px)'

max-laptop = 'screen and (max-width: 991px)'
max-tablet = 'screen and (max-width: 767px)'
max-phone = 'screen and (max-width: 599px)'
max-mobile = 'screen and (max-width: 359px)'

dark = #2C3134