- var list = ['Photoshop', 'Illustrator', 'InDesign', 'After Effect', 'XD', 'Abstract', 'Skecth', 'InVision', 'HTML', 'CSS', 'CoffeScript', 'Axure', 'Principle', 'Figma', 'Paper'];

mixin tech(en)
  section.tech#section3
    .container
      .tech__header
        .main__number 03
        -if(en)
          h2.title Technical Expertise
        -else
          h2.title Инструменты
      -if(en)
        .tech__filtre sort by <span class="tech__link"> level skill/alphabetically </a>
      -else
        .tech__filtre сортировать по <span class="tech__link"> навыку использования </a>
      ul.tech__list