@import '../_const';

.skill
  padding 2rem 0

  .title
    margin-bottom: 1.5rem

  .main__number
    display: none

  @media tablet
    padding: 3rem 0

.skill__row
  display flex
  flex-wrap: wrap
  margin: 0 -0.5rem

  @media laptop
    justify-content: space-between

.skill__block
  width 100%
  padding: 0.5rem 0.5rem
  box-sizing border-box

  @media phone 
    width 50%
    margin: 1rem 0

    &:nth-child(odd)
      padding-right: 2.5rem
    &:nth-child(even)
      padding-left: 2.5rem


  @media laptop 
    width 20%

    &:nth-child(odd)
      padding-right: 0
    &:nth-child(even)
      padding-left: 0

.skill__top
  display flex
  border-bottom: 2px solid #DEDEDE;
  padding: 0.5rem 0
  align-items: center
  justify-content: space-between

.skill__title
  margin 0
  font-size 24px
  font-family: 'GothamPro';

.skill__progress
  margin-left auto
  font-size: 12px
  color: dark

.skill__list
  list-style none
  padding 0

  li
    line-height: 32px
    font-size: 16px
    color: dark



.skill__icon
  margin-bottom 1rem
  img 
    display block

.skill__note
  color: dark
  font-size: 14px
  line-height: 16px

@media laptop
  .skill

    .skill__header
      display: inline-flex
      position: relative
      margin-bottom: 5rem

      .title
        margin: 0
        padding-left: 5rem

      .main__number
        display: block !important
        position: absolute
        left: 0
        top: 0.5rem