.skill
  padding 2rem 0

.skill__row
  display flex
  margin: 0 -0.5rem 

.skill__block
  flex: 1 0 0
  padding: 0.5rem 0.5rem
  box-sizing border-box

.skill__top
  display flex

.skill__title
  margin 0
  font-size 24px

.skill__progress
  margin-left auto

.skill__list
  list-style none
  padding 0


.skill__icon
  margin-bottom 1rem
  img 
    display block