.experience
  padding 2rem 0

.experience__item
  padding 2rem 0
.experience__body
  display flex

.experience__text
  width: 60%

.experience__title
  font-size 32px

.experience__position
  font-size 24px