mixin counter(value)
  .counter__item= value

mixin hero(en)
  section.hero#hero
    +language()
    +header()
    .container.flex_full
      span.main__number 01
      .hero__block
        -if(en)
          h2.hero__title Mikhail Skvortsov
          div.hero__text I am fullstack #[<b>UX/UI designer</b>] и продуманный #[<b>UX</b>]. with 5+ years work experience for mobile and web products. My passion is software and web products with seamless design. I have strong engineering professional skilled in web design, user experience, interface design and team management.
          .hero__action
            a(href="mailto:mail").button Hire me
            a(href="#").hero__download Download CV (PDF, 2Mb)
          
        -else
          h2.hero__title Mихаил Скворцов
          div.hero__text Многопрофильный дизайнер страстно создающий красивый #[<b>UI</b>] и продуманный #[<b>UX</b>]. Пропагандирую использование дизайн-систем, тотальную аналитику проектов и тесный симбиоз маркетинга и дизайна. Умею решать сложные задачи с помощью простых решений.
          .hero__action
            a(href="mailto:mail").button Написать мне
            a(href="#").hero__download Скачать резюме (PDF, 2Mb)

      div.hero__image-container
        img(src="./public/img/hero-photo.png").hero__image
        img(src="./public/img/hero-beneath-photo.svg").hero__oval

      .scroll-block
        include scrollIcon.svg
        span.scroll-block__label Вниз

          

    .counter
      +counter('01')
      +counter('02')
      +counter('03')
      +counter('04')
      +counter('05')
      +counter('06')
