@import '../_const';

.hero
  background: linear-gradient(245.33deg, #EBEBEB 0%, #F6F6F6 48.07%, #E3E3E3 100%)

.hero__block
  padding: 0 0 2rem
  box-sizing border-box

  .title
    font-size: 48px;


.hero__download 
  font-family: 'GothamPro';
  text-decoration none
  border-bottom  2px solid  currentColor
  display inline-block
  padding 0.25rem 0
  color: currentColor


.hero__action
  padding 1rem 0
  .button
    margin-right 1rem