mixin education(data)
  section.education#education
    .container
      h2.title Образование
      .education__block
        .education__top
          .education__icon      
            include logo_vert_en.svg
          .education__title
            h3 Политехнических университет  (СПбГПУ)
            p 2009 - 2013 год
        .education__text Тот редкий случай, когда полученное образование стало делом жизни. Закончил Политех по специальности “Прикладная информатика в дизайне”. За время учебы дополнительно освоил академический рисунок, цветоведение и получил самые разнообразные навыки: от верстки и веб-аналитики до психологии, что существенно помогает мне в работе. 
