@import '../_const';

.education
  padding 2rem 0

.education__top
  @media laptop
    display flex

.education__title
  @media laptop
    padding-left 2rem
    box-sizing border-box
  h3
    margin 0


.education__icon      
  @media max-laptop
    display none 
