mixin footer(data)
  section.footer
    .container.footer__bg
      .footer__header
        .main__number
        h2.title Наверх
      h3.subtitle Спасибо за просмотр!
      p.questions Всегда готов ответить и поговорить в Telegram
      p.telegram: b @saartr