mixin item(img, title, text, src, site)
  .portfolio__item
    img(src=img).portfolio__img
    .portfolio__front
      h3.portfolio__title!=title
      p.portfolio__text!=text
      .portfolio__link Подробнее на&nbsp;
        a(href=src)!=site


mixin portfolio(data)
  section.portfolio#portfolio
    .container
      .portfolio__header
        .main__number 06
        h2.title Портфолио
      .portfolio__list
        +item('/public/img/1.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/2.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/3.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/4.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/5.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/6.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/7.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/8.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')
        +item('/public/img/9.png', 'Title', 'At the heart of the work of any credit organization is risk management...', '#', 'devim.com')


      p.portfolio__note *многие из работ еще находятся под NDA. Готов продемонстрировать и рассказать про них при личной встрече.
