.portfolio
  padding 2rem 0


.portfolio__list
  display flex
  flex-wrap: wrap
  list-style: none
  padding 0

.portfolio__item
  width 33.33%
  padding 0.5rem 0.5rem
  box-sizing border-box


.portfolio__link
  display block
  min-height: 100px
  background: #ccc
  color: currentColor