@font-face {
    font-family: 'DINPro';
    src: url('/public/fonts/DINPro/subset-DINPro.eot');
    src: url('/public/fonts/DINPro/subset-DINPro.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/DINPro/subset-DINPro.woff2') format('woff2'),
        url('/public/fonts/DINPro/subset-DINPro.woff') format('woff'),
        url('/public/fonts/DINPro/subset-DINPro.ttf') format('truetype'),
        url('/public/fonts/DINPro/subset-DINPro.svg#DINPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('/public/fonts/DINPro/subset-DINPro-Bold.eot');
    src: url('/public/fonts/DINPro/subset-DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/DINPro/subset-DINPro-Bold.woff2') format('woff2'),
        url('/public/fonts/DINPro/subset-DINPro-Bold.woff') format('woff'),
        url('/public/fonts/DINPro/subset-DINPro-Bold.ttf') format('truetype'),
        url('/public/fonts/DINPro/subset-DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('/public/fonts/GothamPro/subset-GothamPro-Bold.eot');
    src: url('/public/fonts/GothamPro/subset-GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/GothamPro/subset-GothamPro-Bold.woff2') format('woff2'),
        url('/public/fonts/GothamPro/subset-GothamPro-Bold.woff') format('woff'),
        url('/public/fonts/GothamPro/subset-GothamPro-Bold.ttf') format('truetype'),
        url('/public/fonts/GothamPro/subset-GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('/public/fonts/GothamPro/subset-GothamPro-Medium.eot');
    src: url('/public/fonts/GothamPro/subset-GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/GothamPro/subset-GothamPro-Medium.woff2') format('woff2'),
        url('/public/fonts/GothamPro/subset-GothamPro-Medium.woff') format('woff'),
        url('/public/fonts/GothamPro/subset-GothamPro-Medium.ttf') format('truetype'),
        url('/public/fonts/GothamPro/subset-GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


