mixin nav()
  nav.nav
    ul.nav__list
      each val, key in [{'01': 'hero'}, {'02': 'skill'}, {'03': 'tech'}, {'04': 'experience'}, {'05': 'education'}, {'06': 'portfolio'}]
        li.nav__item
          a(href=`${val}`).nav__link!=key

mixin language()
  section.language
    .container
      ul.language__list
        li: a(href="./index.html") РУС
        li: a(href="./en.html") ENG

mixin header()
  header.header
    .container
      .header__row
        a(href="").logo
          include cv_logo.svg
        +social()

mixin social()
  ul.social
    li.social__item
      a(href="").social__link
        include behance.svg
    li.social__item
      a(href="").social__link 
        include dribbble.svg
    li.social__item
      a(href="").social__link
        include linkedin.svg
    li.social__item
      a(href="mailto:hi@mihmih.pro").social__link hi@mihmih.pro
      

