@import '../_const';

.social
  padding 0
  margin 0
  margin-left auto
  font-family: 'GothamPro';
  font-weight bold

.social__item
  display inline-block
  vertical-align: middle
  margin: 0 0.75rem
  transition: 0.15s ease-out

  &:last-of-type
    margin: 0 0 0 0.75rem

  a
    display inline-block
    color currentColor
    text-decoration none
    line-height: 26px


  &:hover
    background: dark
    color: #fff
    svg
      fill: #fff

  @media max-phone
    &:last-of-type
      margin: 2rem 0 0 0


.social__mail

  svg, path
    transition: 0.15s ease-out
    margin-bottom: -0.25rem
    margin-left: -0.2rem
    margin-right: 0.1rem

  &:hover
    svg, path
      fill: #fff

  @media max-phone
    width 100%
    padding: 0
    margin-top: 2rem
