@import '../_const';

.social
  padding 0
  margin 0
  margin-left auto
  font-family: 'GothamPro';
  font-weight bold

.social__item
  display inline-block
  vertical-align: middle

  a
    display inline-block
    color currentColor
    text-decoration none

.social__mail
  @media max-phone
    width 100%
