.social
  display flex
  margin-left auto

.social__item
  display block

  a
    display block


.language__list
  margin: 0
  padding 0
  display flex
  justify-content center
  list-style none
  li
    padding  0 0.5rem
    box-sizing border-box
  a
    display block
    padding  0.25rem 0
    box-sizing border-box
    text-decoration none
    color: currentColor
    text-transform uppercase
    font-weight 700
    border-bottom 2px solid #000
.header__row
  display flex