@import '../_const';

.language
  background: white

.language__list
  margin: 0
  padding 0
  display flex
  justify-content center
  list-style none
  li
    padding  0 0.5rem
    box-sizing border-box
  a
    display block
    padding  0.25rem 0
    box-sizing border-box
    text-decoration none
    color: currentColor
    text-transform uppercase
    font-weight 700
    border-bottom 2px solid #000


.logo
  @media max-phone
    display none

.header__row
  padding: 2rem 0
  box-sizing border-box

  @media max-phone
    text-align center

  @media phone
    display flex